
#exempl{
width: 300px;
height: 300px;
border:solid 1px silver;
padding: 10px;
margin: 0 auto;
position: relative;
border-radius: 10px;}
#contato{
    margin-top: 30px;
    padding:10px;
}

.verde{background-color: rgb(25, 226, 41);}
.amarelo{background-color: #F0FF33;}
.azul{background-color: rgb(87, 13, 224);}

.preto{background-color:black;
margin: 0 auto;}
.vermelho{background-color:red;
margin-top: 40px;}

/*pagina manipimagem*/

.imagem{
height: 400px;
}
/*estudando dimensoes*/
.texto{
    width:200px;
    height:2200px;
    overflow: auto;
    background-color: #ccc;
}
.scrollbutton{background:rgb(87, 13, 224); 
    width:30px;
    height:30px;
    border-radius: 180px;
    position:fixed;
    right: 10px;
    bottom: 10px;
    z-index:999;
    cursor:pointer;
    display:none;
            }
            .botao{background:green; width:40px;height:40px;border-radius:180px;
            }
